<!-- Placeholder for when login is enabled later on -->
<ul class="flex text-sm text-white font-medium">
    <li class="ml-6 border-b border-black hover:border-gray-100"><a href="http://localhost:8000">Hey,
            {{request.user|title}}</a>
    </li>
    <li class="ml-6 border-b border-black hover:border-gray-100"><a href="http://localhost:8000">Log out</a></li>
    <!-- <li class="ml-6 border-b border-black hover:border-gray-100"><a href="http://localhost:8000">Sign up</a></li> -->
</ul>


<!-- 
# TODO:
# if logged in: display 'Log out' and 'Hey, username'
# if not logged in: display 'Log In' and -->