{% extends "_base.html" %}

{% block page_name %}
Recipe Detail Page
{% endblock page_name %}

{% block content %}

<div class="container mx-auto">
    <div class="flex m-auto w-24 h-8 justify-center items-center tracking-wide text-white font-medium text-sm bg-black">
        RECIPES
    </div>

    <div class="text-4xl font-semibold py-4 text-center">{{recipe.title}}</div>

    <div class="flex mx-auto mt-4 mb-2 justify-center h-16 w-16 rounded-full bg-cover"
        style="background-image: url({{recipe.author.profile_photo.url}});">
    </div>
    <div class="flex m-auto justify-center font-semibold text-sm">BY {{recipe.author.first_name|upper}}</div>
</div>
<div class="flex m-auto justify-center font-normal text-xs pt-2">{{recipe.created|date:"d M Y"}}</div>
</div>

<!-- Tagged as: {{recipe.tags}} -->

<div class="w-full my-8 h-64 bg-cover bg-center" style="background-image: url({{recipe.cover_photo}});"></div>

<div class="container w-3/5 m-auto">

    {{recipe.description}}

    <div class="border-t-2 border-black pt-2 pb-3 mt-8 font-bold text-lg tracking-wider">
        INGREDIENTS
    </div>
    {{recipe.ingredients|escape|linebreaks}}

    <div class="border-t-2 border-black pt-2 pb-3 mt-8 font-bold text-lg tracking-wider">
        PREP INSTRUCTIONS
    </div>
    {{recipe.recipe_prep|escape|linebreaks}}
</div>

<div class="container w-3/5 m-auto">

    <div class="border-t-2 border-black pt-2 mt-8 font-bold text-lg tracking-wider">
        REVIEWS

    </div>
    <!-- <div class="mt-2 mb-2">RECIPE'S AVERAGE RATING: {{recipe.avg_rating}}</div> -->

    <div>
        {% for review in recipe.reviews.all %}
        <div class="mt-4 pb-4 flex border-black border-b">
            <div>
                <div>
                    <i class="fa fa-star" style="font-size: 14px;"></i> {{review.rating}}
                </div>
                <p class="py-1">{{review.review_text}}</p>
                <div class="text-sm pt-1">
                    POSTED BY <span class="font-bold">{{review.author.username|upper}}</span> •
                    {{review.created|date:'m/d/y'}}
                </div>
            </div>

        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}